@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Yanone+Kaffeesatz:wght@200..700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Yanone Kaffeesatz", sans-serif;
}


a:hover {
    text-decoration: underline;
}

body {
    /* background-color: rgb(180, 180, 180); */
    background-color: #023047;
    /* background-color: #8ecae6; */
    /* background-color: #fb8500; */
    /* background-color: #e5e5e5; */
}

#mainImage {
    box-shadow: 5px 3px 2px rgba(0, 0, 0, 0.445);
    margin: 0 auto;
    display: block;
}

.card {
    box-shadow: 5px 3px 2px rgba(0, 0, 0, 0.445);
    background-color:#8ecae6 ;
}

#content {
    width: 90%;
    margin: 0 auto !important;
}

.card:hover {
    transform: scale(1.05);
}

.scrolling {
    background: black;
    position: fixed;
    width: 100%;
    height: 3.125rem;
    top: -3.125rem;
    transition: 0.4s;
    z-index: 10;
}

a {
    text-decoration: none;
    color: white;
}

#btnM {

    color: white;
    margin: 0 auto;
    border: none;
}

#btnP {

    color: white;
    margin: 0 auto;
    border: none;
}

#btnB {

    color: white;
    margin: 0 auto;
    border: none;
}

button:hover {
    text-decoration: underline;
}

img{
    margin: 0 auto;
    display: block;
    margin-bottom: 1rem;
}